:root {
  // colors
  --color-primary: #6308f7;
  --color-secondary: #e5ebfe;
  --color-help: #eee5fe;

  // font size
  --font-size-small: 1rem;
  --font-size-medium: 1.5rem;
  --font-size-large: 2rem;

  // line-height
  --line-height-small: 1rem;
  --line-height-medium: 1.5rem;
  --line-height-large: 2rem;

  // padding
  --padding-small: 1rem;
  --padding-medium: 1.5rem;
  --padding-large: 2rem;

  // margin
  --margin-small: 1rem;
  --margin-medium: 1.5rem;
  --margin-large: 2rem;

  // border
  --border-radius-small: 1rem;
  --border-radius-medium: 1.5rem;
  --border-radius-large: 2rem;
}
